{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
     "import/no-extraneous-dependencies": [
       "error",
      { "devDependencies": true }
    ]
  },
  "globals": {
    "document": true
  },
 "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
