// html structure
.body-struct {
    max-width: 1280px;
    margin: 0 auto;
    direction: rtl;
    font-family: 'Shabnam', sans-serif;
    line-height: 30px;
    
    // .main-container {
    //     // griding detail
    //     display: grid;
    //     grid-template-columns: 70% 30%;
    //     grid-column-gap: 16px;
    //     // griding child 
    //     & #right_col {
    //         grid-column: 1;
    //     }
    //     & #left_col {
    //         grid-column: 2;
    //     }
    // }
}
// news page style 2 way : 1th.flex 2nd.grid 
// 1th flex way
// body #root {
//     display: flex;
//     flex-flow: column nowrap;

//     .main-container {
//         display: flex;
//         justify-content: space-between;
//         #right_col {
//             flex-basis: 69%;
//         }
//         #left_col {
//             flex-basis: 30%;
//         }
//     }    

// }
// 2nd grid way
body #root {
    display: flex;
    flex-flow: column nowrap;

    .main-container {
        display: flex;
        justify-content: space-between;
        #right_col {
            flex-basis: 69%;
        }
        #left_col {
            flex-basis: 30%;
        }
    }    

}
// comment form structure
form#article-form {
    padding: 18px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    & > div {
        display: flex;
        justify-content: space-between;

        padding: 6px 0;
        box-sizing: border-box;
        label {
            width: 10%;
        }
        span {
            width: 50%;
        }
    }
}
