// html style
// .main-container {
//     & #right_col {
//     }
//     & #left_col {
//     }
// }
.title {
    color: darkcyan;
    font-weight: bold;
    font-size: 17px;
}
.uptitle {
    color: #034242cc;
    font-size: 14px;
}
.lead {
	color: #034242cc;
	font-size: 16px;
}
.status {
   &::before {
        font-size: 20px;
        padding: 0 4px;
        box-sizing: border-box;
    } 
}
.fa-right {
    color: #0ba70b;
    &::before {
        content: '✔';
    }
}
.fa-warning {
    color: orange;
    &::before {
        content: '⚠';
    }
}
.fa-wrong {
    color: red;
    &::before {
        content: '✘';
    }
}