// MAIN -----------------------------------
body {
    background-color: #F2F2F2;
}
.box-style01 {
	background: white;
	-webkit-box-shadow: 0 2px 2px rgba(165, 165, 165, 0.35);
	-moz-box-shadow: 0 2px 2px rgba(165, 165, 165, 0.35);
	box-shadow: 0 2px 2px rgba(165, 165, 165, 0.35);
	padding: 8px 16px;
	box-sizing: border-box;
}
.box-style02 {
    border: 1px solid #eeeeee;
    border-bottom: 3px solid #e3e3e3;
    background: white;
    padding: 0 8px;
    box-sizing: border-box;
}
.box-style03 {
    border-bottom: 1px dotted #e3e3e3;
}
img { width: 100%; }
// NEWS -----------------------------------
.title {
    color: darkcyan;
    font-family: 'ShabnamBold';
    font-size: 17px;
}
.uptitle {
    color: #034242cc;
    font-family: 'ShabnamLight';
    font-size: 14px;
}
.lead {
	color: #034242cc;
	font-size: 16px;
}
// ICON AND STATUS -----------------------------------
.status {
   &::before {
       font-size: 20px;
       padding: 0 4px;
        box-sizing: border-box;
    } 
}
.fa-right {
    color: #0ba70b;
    &::before {
        content: '✔';
    }
}
.fa-warning {
    color: orange;
    &::before {
        content: '⚠';
    }
}
.fa-wrong {
    color: red;
    &::before {
        content: '✘';
    }
}