// html style
// .main-container {
//     & #right_col {
//     }
//     & #left_col {
//     }
// }
.title {
    color: darkcyan;
    font-weight: bold;
    font-size: 17px;
}
.uptitle {
    color: #034242cc;
    font-size: 14px;
}
.lead {
	color: #034242cc;
	font-size: 16px;
}